<a href="https://colab.research.google.com/github/carinadourado/carinadourado/blob/main/uteis/Transforma_tidydata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
path = "/drive/My Drive/Data-driven/Insper/Siscan_Mamografia_por_pacientes.xlsx"
testes_mamo = pd.read_excel(path, sheet_name = 'UFs e Brasil')
testes_mamo

      Ano     Brasil     Pará  ...  Rio de Janeiro  São Paulo  Rio Grande do Sul
0  2013.0    91992.0    107.0  ...            42.0    30902.0              616.0
1  2014.0  1770261.0  11771.0  ...         43508.0   367739.0           114430.0
2  2015.0  2010052.0  13762.0  ...         50033.0   371822.0           144987.0
3  2016.0  2158779.0  24299.0  ...         57437.0   360607.0           156875.0
4  2017.0  2582748.0  38887.0  ...         54481.0   372395.0           179081.0
5  2018.0  2751104.0  45359.0  ...         67147.0   419531.0           187699.0
6  2019.0  3030248.0  50372.0  ...         92277.0   486026.0           209415.0
7  2020.0  1821858.0  47031.0  ...         63043.0   304298.0           141054.0

[8 rows x 7 columns]

In [ ]:
# Maneira 1

In [ ]:
df_tidy_mamo = testes_mamo.melt('Ano', var_name='localizacao', value_name='numero_testes')

In [ ]:
df_tidy_mamo

       Ano        localizacao  numero_testes
0   2013.0             Brasil        91992.0
1   2014.0             Brasil      1770261.0
2   2015.0             Brasil      2010052.0
3   2016.0             Brasil      2158779.0
4   2017.0             Brasil      2582748.0
5   2018.0             Brasil      2751104.0
6   2019.0             Brasil      3030248.0
7   2020.0             Brasil      1821858.0
8   2013.0               Pará          107.0
9   2014.0               Pará        11771.0
10  2015.0               Pará        13762.0
11  2016.0               Pará        24299.0
12  2017.0               Pará        38887.0
13  2018.0               Pará        45359.0
14  2019.0               Pará        50372.0
15  2020.0               Pará        47031.0
16  2013.0              Bahia          138.0
17  2014.0              Bahia        96909.0
18  2015.0              Bahia        91017.0
19  2016.0              Bahia       110963.0
20  2017.0              Bahia       186634.0
21  2018.0              Bahia       212795.0
22  2019.0              Bahia       260326.0
23  2020.0              Bahia       159368.0
24  2013.0     Rio de Janeiro           42.0
25  2014.0     Rio de Janeiro        43508.0
26  2015.0     Rio de Janeiro        50033.0
27  2016.0     Rio de Janeiro        57437.0
28  2017.0     Rio de Janeiro        54481.0
29  2018.0     Rio de Janeiro        67147.0
30  2019.0     Rio de Janeiro        92277.0
31  2020.0     Rio de Janeiro        63043.0
32  2013.0          São Paulo        30902.0
33  2014.0          São Paulo       367739.0
34  2015.0          São Paulo       371822.0
35  2016.0          São Paulo       360607.0
36  2017.0          São Paulo       372395.0
37  2018.0          São Paulo       419531.0
38  2019.0          São Paulo       486026.0
39  2020.0          São Paulo       304298.0
40  2013.0  Rio Grande do Sul          616.0
41  2014.0  Rio Grande do Sul       114430.0
42  2015.0  Rio Grande do Sul       144987.0
43  2016.0  Rio Grande do Sul       156875.0
44  2017.0  Rio Grande do Sul       179081.0
45  2018.0  Rio Grande do Sul       187699.0
46  2019.0  Rio Grande do Sul       209415.0
47  2020.0  Rio Grande do Sul       141054.0

In [ ]:
# Maneira 2

In [ ]:
df_tidy_mamo2 = testes_mamo.set_index('Ano').rename_axis(columns='localizacao').unstack() \
        .rename('numero_testes').reset_index()

In [ ]:
df_tidy_mamo2

          localizacao     Ano  numero_testes
0              Brasil  2013.0        91992.0
1              Brasil  2014.0      1770261.0
2              Brasil  2015.0      2010052.0
3              Brasil  2016.0      2158779.0
4              Brasil  2017.0      2582748.0
5              Brasil  2018.0      2751104.0
6              Brasil  2019.0      3030248.0
7              Brasil  2020.0      1821858.0
8                Pará  2013.0          107.0
9                Pará  2014.0        11771.0
10               Pará  2015.0        13762.0
11               Pará  2016.0        24299.0
12               Pará  2017.0        38887.0
13               Pará  2018.0        45359.0
14               Pará  2019.0        50372.0
15               Pará  2020.0        47031.0
16              Bahia  2013.0          138.0
17              Bahia  2014.0        96909.0
18              Bahia  2015.0        91017.0
19              Bahia  2016.0       110963.0
20              Bahia  2017.0       186634.0
21              Bahia  2018.0       212795.0
22              Bahia  2019.0       260326.0
23              Bahia  2020.0       159368.0
24     Rio de Janeiro  2013.0           42.0
25     Rio de Janeiro  2014.0        43508.0
26     Rio de Janeiro  2015.0        50033.0
27     Rio de Janeiro  2016.0        57437.0
28     Rio de Janeiro  2017.0        54481.0
29     Rio de Janeiro  2018.0        67147.0
30     Rio de Janeiro  2019.0        92277.0
31     Rio de Janeiro  2020.0        63043.0
32          São Paulo  2013.0        30902.0
33          São Paulo  2014.0       367739.0
34          São Paulo  2015.0       371822.0
35          São Paulo  2016.0       360607.0
36          São Paulo  2017.0       372395.0
37          São Paulo  2018.0       419531.0
38          São Paulo  2019.0       486026.0
39          São Paulo  2020.0       304298.0
40  Rio Grande do Sul  2013.0          616.0
41  Rio Grande do Sul  2014.0       114430.0
42  Rio Grande do Sul  2015.0       144987.0
43  Rio Grande do Sul  2016.0       156875.0
44  Rio Grande do Sul  2017.0       179081.0
45  Rio Grande do Sul  2018.0       187699.0
46  Rio Grande do Sul  2019.0       209415.0
47  Rio Grande do Sul  2020.0       141054.0

In [ ]:
df_tidy_mamo.to_excel('/drive/My Drive/Data-driven/Insper/tidy_siscan_mamografia_por_pacientes_ufs_brasil.xlsx',sheet_name='Sheet1',index=False)
df_tidy_mamo.to_csv('/drive/My Drive/Data-driven/Insper/tidy_siscan_mamografia_por_pacientes_ufs_brasil.csv',index=False)

In [ ]:
# Aba com dados do país todo

In [ ]:
path = "/drive/My Drive/Data-driven/Insper/Siscan_Mamografia_por_pacientes_total.xlsx"
testes_mamo_total = pd.read_excel(path, sheet_name = 'Planilha1')
testes_mamo_total

            localizacao   2013     2014  ...     2018     2019     2020
0                 Total  91992  1770261  ...  2751104  3030248  1821858
1              Rondônia     20      586  ...     6655    18920     7893
2                  Acre      2       32  ...     4937     5288     7316
3              Amazonas     14      107  ...    17925    20464    14076
4               Roraima    829     4891  ...     4970     5309     3489
5                  Pará    107    11771  ...    45359    50372    47031
6                 Amapá    471     1584  ...      179     4222     5303
7             Tocantins    486    30469  ...     9079    11625     6462
8              Maranhão   3573    25445  ...    52496    41915    31804
9                 Piauí     28      314  ...    19318    21715    17406
10                Ceará     56    21769  ...    84082    95911    68003
11  Rio Grande do Norte    573    27400  ...    49895    60962    38358
12              Paraíba     90    62164  ...    64797    72847    46055
13           Pernambuco     64   174050  ...   179207   197051    96460
14              Alagoas     56    25563  ...    77107    80814    53260
15              Sergipe   5385    36267  ...    40234    49804    23662
16                Bahia    138    96909  ...   212795   260326   159368
17         Minas Gerais    179   163725  ...   460985   438648   251431
18       Espírito Santo    760    54441  ...    94535    98632    52148
19       Rio de Janeiro     42    43508  ...    67147    92277    63043
20            São Paulo  30902   367739  ...   419531   486026   304298
21               Paraná  38189   248425  ...   333582   343492   184891
22       Santa Catarina   5191   146857  ...   160169   163257    94258
23    Rio Grande do Sul    616   114430  ...   187699   209415   141054
24   Mato Grosso do Sul   3062    38980  ...    42297    59298    26512
25          Mato Grosso     72    19685  ...    30213    34019    16646
26                Goiás   1061    52797  ...    78393    92925    49018
27     Distrito Federal     24      350  ...     7789    14856    12831
28             Ignorado      2        4  ...        0        0        0

[29 rows x 9 columns]

In [ ]:
df_tidy_mamo_total = testes_mamo_total.set_index('localizacao').rename_axis(columns='anos').unstack() \
        .rename('numero_testes').reset_index()

In [ ]:
df_tidy_mamo_total

     anos         localizacao  numero_testes
0    2013               Total          91992
1    2013            Rondônia             20
2    2013                Acre              2
3    2013            Amazonas             14
4    2013             Roraima            829
..    ...                 ...            ...
227  2020  Mato Grosso do Sul          26512
228  2020         Mato Grosso          16646
229  2020               Goiás          49018
230  2020    Distrito Federal          12831
231  2020            Ignorado              0

[232 rows x 3 columns]

In [ ]:
df_tidy_mamo_total.to_excel('/drive/My Drive/Data-driven/Insper/tidy_siscan_mamografia_por_pacientes_ufs_brasil_total.xlsx',sheet_name='Sheet1',index=False)
df_tidy_mamo_total.to_csv('/drive/My Drive/Data-driven/Insper/tidy_siscan_mamografia_por_pacientes_ufs_brasil_total.csv',index=False)